---
import Layout from '../layouts/Layout.astro';

import Container from '../components/vue/Container.vue';
import Main from '../components/react/Main.jsx';
import Header from '../components/angular/header.component';
import Footer from '../components/svelte/Footer.svelte';
---

<Layout title="">
	<!-- Header Section -->
    <header>
		<Header client:load/>
    </header>

    <!-- Main Content Section -->
    <main class="content">
        <Main client:only="react" />
    	<Container/>
    </main>

    <!-- Footer Section -->
    <footer class="fixed-footer">
        <Footer/>
    </footer>

    <!-- External JS -->
    <script script is:inline src="script.js"></script>

</Layout>