---
import '../styles/global.css';
---
<!DOCTYPE html>
<html lang="en">
	<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Bookmark this page to stay informed about the latest updates and developments on my projects.">
		<meta name="generator" content={Astro.generator} />
    <meta name="author" content="s23010843">
		<link rel="sitemap" href="sitemap-index.xml" />
    <title>Home | Official</title>
		<!-- <link rel="icon" type="image/svg+xml" href="favicon.svg" /> -->
    <link rel="icon" href="/universal/favicons/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    <!-- External CSS -->
    <script is:inline src="xml.js"></script>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>